body {
    margin: 0;
    padding: 0;
}
#hamb {
    position: fixed;
    top: 30px;
    left: 35px;
    z-index: 99;
    cursor: pointer;
}
#hamb span {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 5px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.hamb-open .span2 {
    opacity: 0;
}
.hamb-open .span1 {
    -webkit-transform: rotate(135deg) translate(5px, -5px);
    transform: rotate(135deg) translate(5px, -5px);
}
.hamb-open .span3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.main-nav {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    background-color: rgba(2, 90, 180, 0.8);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translate(-300px,0);
    transform: translate(-300px,0);
}
.main-nav .img-wrapper {
    width: 200px;
    height: 200px;
    margin: 70px auto 80px auto;
    border-radius: 50%;
    border: 7px solid #fff;
    position: relative;
}
.main-nav .img-wrapper img {
    width: 180px;
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    -webkit-transform-origin: right;
    transform-origin: right;
}
.main-nav ul li {
    width: 95%;
    height: 45px;
    float: right;
    line-height: 45px;
    background: #017efd;
    margin: 5px 0;
    -webkit-transform: rotate(-6deg) translate(-10%, -60%);
    transform: rotate(-6deg) translate(-10%, -60%);
    opacity: 0;
}
.main-nav ul li:first-of-type {
    -webkit-transition: all 0.5s 0.2s;
    transition: all 0.5s 0.2s;
}
.main-nav ul li:nth-of-type(2) {
    -webkit-transition: all 0.5s 0.3s;
    transition: all 0.5s 0.3s;
}
.main-nav ul li:nth-of-type(3) {
    -webkit-transition: all 0.5s 0.4s;
    transition: all 0.5s 0.4s;
}
.main-nav ul li:nth-of-type(4) {
    -webkit-transition: all 0.5s 0.5s;
    transition: all 0.5s 0.5s;
}
.main-nav ul li:last-of-type {
    -webkit-transition: all 0.5s 0.6s;
    transition: all 0.5s 0.6s;
}
.main-nav ul li a {
    width: 100%;
    height: 45px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.main-nav ul .nav-icon {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 20px;
    background: #025ab3 url('../images/icons-white.png') no-repeat;
}
.main-nav ul .nav-icon-blue {
    width: 100%;
    height: 100%;
    background: #e2e2e2 url('../images/icons-blue.png') no-repeat;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}
#nav-icon1, #nav-icon-b1 {
    background-position: 4px 5px;
}
#nav-icon2, #nav-icon-b2 {
    background-position: 4px -55px;
}
#nav-icon3, #nav-icon-b3 {
    background-position: 4px -115px;
}
#nav-icon4, #nav-icon-b4 {
    background-position: 4px -175px;
}
#nav-icon5, #nav-icon-b5 {
    background-position: 4px -235px;
}

/* nav animation */
.main-nav.main-nav-open{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.main-nav.main-nav-open ul li {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
    opacity: 1;
}
.main-nav ul li a:hover {
    background: #fff;
    color: #017efd;
}
.main-nav ul li a:hover .nav-icon-blue {
    opacity: 1;
}

/*for small devices*/
@media only all and (max-height:640px){
    .main-nav{
        width:260px;
    }
    .main-nav .img-wrapper {
        -webkit-transform:scale(0.8) ;
        transform:scale(0.8) ;
        margin: 20px auto 0 auto;
    }
    .main-nav ul{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        float: right;
    }
}
/*************************************************/




.search-body{
    width:100%;
    height: 100vh;
    background: url('../images/background-search.jpg') no-repeat #000 center center;
    background-size: cover;
    color: #fff;
}


.search-btns{
    height: 80px;
    width: 100%;
    text-align: right;
    top:0;
    left:0;
    position: absolute;
    z-index: 90;
}

.search-btns .logout-btn,.search-btns .upload-btn{
    display: inline-block;
    width:120px;
    height: 35px;
    margin: 20px;
    color: #fff;
    text-align: left;
    background: #017efd;
    line-height: 35px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    z-index:90;
}
.search-btns .logout-btn:after, .search-btns .upload-btn:after{
    content: "";
    width:0;
    height: 35px;
    background: #025ab3;
    position: absolute;
    top:0;
    left:35px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    z-index: -1;
}
.search-btns .logout-btn:hover:after , .search-btns .upload-btn:hover:after{
    width:85px;
}
.search-btns .upload-btn:after{
    background: #009a07;
}
.search-btns .upload-btn{
    background: #02dd0c;
}
.search-btns .logout-btn div,.search-btns .upload-btn div{
    height: 35px;
    width:35px;
    display: inline-block;
    background: #025ab3;
    margin-right: 10px;
    float: left;
}
.search-btns .upload-btn div{
    background: #009a07 url('../images/upload.png') no-repeat center center;
    background-size: 45%;
}
.search-btns .logout-btn div{
    background: #025ab3 url('../images/power.png') no-repeat center center;
    background-size: 45%;
}

.search-body>section {
    margin-top: 150px;
}
.search-body>section .logo{
    margin-bottom: 40px;
}
.search-body>section .logo img{
    display: block;
    margin: 0 auto;
}
.search-body>section form *{
    border-radius: 0;
    height: 40px;
    box-shadow: none;
}
.search-body>section form .text-input{
    float: left;
    width:60%;
    border-right: none;
}
.search-body>section form .select{
    float: left;
    border-left: none;
    width:40%;
}
.search-body>section form .select option{
    height: 40px;
}
.search-body>section form .input-option-wrapper{
    margin: 0 auto;
}
.search-body>section form .btn{
    margin-left: 30px;
    display: block;
    margin: 30px auto;
    width:120px;
    background: #017efd;
    padding: 0;
    line-height: 40px;
}


/*****************************/
@media only all and (max-width:450px){
    .search-btns .logout-btn,.search-btns .upload-btn{
        margin: -5px;
        margin-top: 10px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/*******************************/
/******** view animation *******/

.view-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.view-container.ng-enter{
    -webkit-transition:all 0.6s ease-in-out 0.6s;
    transition:all 0.6s ease-in-out 0.6s;
    opacity: 0;
}
.view-container.ng-enter.ng-enter-active{
    opacity: 1;
}
.view-container.ng-leave{
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    opacity: 1;
}
.view-container.ng-leave.ng-leave-active{
    opacity: 0;
}



/*************style for modal*******/

.modals .modal-header{
  background: #02dd0c;
}
.modals .modal-title{
  color: #fff;
  font-size: 30px;
}
.modals .modal-header .close{
    float: right;
    background:none;
    border:none;
    font-size: 25px;
    color: #fff;
}
.modals .modal-content{
  background: #ebebeb;
}

.modals .modal-body .btn{
  width:120px;
  background: #0193ca;
  color: #fff;
  border-radius: 0;
  margin: 10px 30px 10px 5px;
}
.modals .modal-body .btn-delete{
    background: #fe3535;
}
.modals .modal-body label,.modals .modal-body input{
  display: block;
  margin-left: 20px;

}
.modals .modal-body input{
  width: 50%;
  border:none;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.modals .modal-body label{
  margin-top: 5px;
  font-size: 18px;
}

.modals .modal-footer .btn{
  border-radius: 0;
  width:120px;
}
#uploadModal .modal-footer{
    height: 60px;
}
.red{
    color:red;
}
/********************************/
