<!doctype html>
<html>
    <head>
        <title>Search Archive System</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="vendor/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/search-style.css" />


        <script type="text/javascript" src="vendor/js/jquery-3.1.1.slim.min.js"></script>
        <script type="text/javascript" src="vendor/js/bootstrap.min.js"></script>

        <script src="vendor/js/angular.min.js"></script>
        <script src="vendor/js/angular-route.min.js"></script>
        <script src="vendor/js/angular-animate.min.js"></script>

        <script src="js/app.js"></script>
    </head>
    <body ng-app='searchApp'>

        <script type="text/ng-template" id="search.html">
            <div class="search-body container-fluid" ng-controller='searchCont'>
                <section class="col-md-12 col-lg-12">
                    <div class="row logo">
                        <div class="col-md-6 col-md-offset-3">
                            <img alt="IEEE AlexSB Archive System" class="img img-responsive"src="images/ieee-alexsb-logo.png" />
                        </div>
                    </div>
                    <div class="row">
                        <form class="form col-md-6 col-md-offset-3" ng-submit="getView('#/search-results')">
                            <div class="input-option-wrapper">
                                <input class="form-control text-input" type="text" name="search-text" ng-model='searchText' required/>
                                <select class="form-control select" name="search-by" ng-model='searchType'>
                                    <option select value="0">SEARCH BY..</option>
                                    <option value="event">EVENT</option>
                                    <option value="date">DATE</option>
                                    <option value="tags">TAGS</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit"  >SEARCH</button>
                        </form>
                    </div>
                </section>
            </div>
        </script>

        <script type="text/ng-template" id="search-results.html">
            <link rel="stylesheet" href="css/search-results.css" />
            <div class="search-results-body container-fluid" ng-controller='resultsCont'>

                <div class="modal modals fade" id="editModal" tabindex="1" role="dialog" aria-labelledby="editModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Edit</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <button class="btn btn-delete" ng-click='deleteReport()'>Delete</button><span>{{editReport.name}}</span>
                                    <label for="title-input">Title <span class="red">*</span></label>
                                    <input type="text" id="title-input" ng-model="editReport.name" />
                                    <label for="event-input">Event <span class="red">*</span></label>
                                    <input type="text" id="event-input" ng-model="editReport.event" />
                                    <label for="year-input">Year <span class="red">*</span></label>
                                    <input type="text" id="year-input" ng-model="editReport.date"/>
                                    <label for="editReporter-input">Reporter <span class="red">*</span></label>
                                    <input type="text" id="reporter-input" ng-model="editReport.reporter" />
                                    <label for="tags-input">Tags</label>
                                    <input type="text" id="tags-input" ng-model="editReport.tags" />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="editReportFunc">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row first-row">
                    <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-3 logo-wrapper"><img src="images/ieee-alexsb-logo-blue.png" /></div>
                </div>
                <div class="row">
                    <div class="form-wrapper col-lg-9 col-lg-offset-1 col-md-8 col-md-offset-2">
                        <form class="form" ng-submit='getData()'>
                            <div class="input-option-wrapper">
                                <input class="form-control text-input" type="text" name="search-text" ng-model='searchText2' required/>
                                <select class="form-control select" name="search-by" value='SEARCH BY' ng-model='searchType2'>
                                    <option value="0">SEARCH BY..</option>
                                    <option value="event">EVENT</option>
                                    <option value="date">DATE</option>
                                    <option value="tags">TAGS</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">SEARCH</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="table-wrapper col-lg-10 col-lg-offset-1">
                        <div class="errorMsg" ng-if="errorMsg"><h3>{{errorMsg}}</h3></div>
                        <table class="table" ng-if="searchData&&(!errorMsg)">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Event</th>
                                    <th>Year</th>
                                    <th>Reporter</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="report in searchData | orderBy:'name'">
                                    <td class="feedabacks">{{report.name}}</td>
                                    <td class="event">{{report.event}}</td>
                                    <td class="year">{{report.date}}</td>
                                    <td class='reporter'>{{report.reporter}}</td>
                                    <td class="options">
                                        <a  class="option view"></a>
                                        <a  data-edit="{{report.id}}" ng-click="getReport($event)" class="option edit" data-toggle="modal" data-target="#editModal"></a>
                                        <a  class="option download"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </script>


        <div id="hamb">
            <span class="span1"></span>
            <span class="span2"></span>
            <span class="span3"></span>
        </div>
        <nav class="main-nav">
            <div class="img-wrapper">
                <img src="images/photo.jpg">
            </div>
            <ul>
                <li><a href="#"><div class="nav-icon" id="nav-icon1"><div class="nav-icon-blue" id="nav-icon-b1"></div></div>PROFILE</a></li>
                <li><a href="#"><div class="nav-icon" id="nav-icon2"><div class="nav-icon-blue" id="nav-icon-b2"></div></div>DASHBOARD</a></li>
                <li><a href="#"><div class="nav-icon" id="nav-icon3"><div class="nav-icon-blue" id="nav-icon-b3"></div></div>HR SYSTEM</a></li>
                <li><a href="#"><div class="nav-icon" id="nav-icon4"><div class="nav-icon-blue" id="nav-icon-b4"></div></div>ARCHIVE SYSTEM</a></li>
                <li><a href="#"><div class="nav-icon" id="nav-icon5"><div class="nav-icon-blue" id="nav-icon-b5"></div></div>AVAILABILITY SHEET</a></li>
            </ul>
        </nav>
        <div class="search-btns">
            <a data-toggle="modal" data-target="#uploadModal" class="upload-btn">
                <div></div>UPLOAD
            </a>
            <a href='#' class="logout-btn">
                <div></div>LOGOUT
            </a>
        </div>

        <div class="modal modals fade " id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload File</h4>
              </div>
              <div class="modal-body">
                <form>
                    <input type="file"  accept=".doc, .docx, .ppt, .pptx, .txt, .pdf" required/>
                    <label for="title-input">Title <span class="red">*</span></label>
                    <input type="text" id="title-input" required/>
                    <label for="event-input">Event <span class="red">*</span></label>
                    <input type="text" id="event-input" required/>
                    <label for="year-input">Year <span class="red">*</span></label>
                    <input type="text" id="year-input" required/>
                    <label for="editReporter-input">Reporter <span class="red">*</span></label>
                    <input type="text" id="reporter-input" required/>
                    <label for="tags-input">Tags</label>
                    <input type="text" id="tags-input"/>

                    <div class="modal-footer">
                        <button type="button" type="submit" class="btn btn-primary btn-upload" >Submit</button>
                    </div>

                </form>
              </div>
            </div>
          </div>
        </div>

        <div ng-view class="view-container">

        </div>



        <script src="js/search-app.js"></script>
    </body>
</html>
